<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hanserwei.hannote.user.biz.domain.mapper.UserDOMapper">
    <update id="updateByPrimaryKeySelective" parameterType="com.hanserwei.hannote.user.biz.domain.dataobject.UserDO">
        update t_user
        <set>
            <if test="hannoteId != null and hannoteId != ''">
                hannote_id = #{hannoteId,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null and avatar != ''">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=DATE},
            </if>
            <if test="backgroundImg != null and backgroundImg != ''">
                background_img = #{backgroundImg,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=TINYINT},
            </if>
            <if test="introduction != null and introduction != ''">
                introduction = #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
